{% extends "base_generic.html" %}
{% block title %}Описание заклинания{% endblock %}
{% block content %}
	<form type="get" action="." style="margin: 0">
		<input id="search_box" type="text" name="search_box"
		       placeholder="Search...">
		<button id="search_submit" type="submit">Submit</button>
	</form>
	<body>
	<div>
		<a href="{% url 'spells' %}">SPELLS</a>
	</div>
	<h1>{{ spell.name }}</h1>
	<h2>{{ spell.class_actor }}</h2>
	<h2>{{ spell.components }}</h2>
	<h2>{{ spell.instruction }}</h2>

	</body>
{% endblock %}