{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="{% static 'bboard/normalize.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'bboard/my_style.css' %}">
</head>
<body>
<header>
    <h1>Начальная страница</h1>
</header>
<nav>
    <div class="nav-bg">
        <div class="wrapper">
            <ul>
                <li class="main">
                    <a href="{% url 'index' %}">
                        <p>Объявления</p>
                    </a>
                </li>
                <li class="line">
                    <a href="{% url 'rolls' %}">
                        <p>Днд ролл</p>
                    </a>
                </li>
                <li class="main">
                    <a href="{% url 'widgets' %}">
                        <p>Веб-сокет виджеты</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>


</nav>
</body>
</html>