<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> START </title>
</head>
<header>
    <h1>Время</h1>
</header>
<body>
<a href="{% url 'Home' %}">
    HOME
</a>

<div id='time'>
    <h1>{{ text }}</h1>
</div>

<div id='usd'>
    <h1>{{ text }}</h1>
</div>
<script>
    var socket = new WebSocket('ws://localhost:8000/ws/some_url/');

    socket.onmessage = function (event) {
        var data = JSON.parse(event.data);
        console.log(data);
        document.querySelector('#time').innerText = data.message;
    };


    var socket2 = new WebSocket('ws://localhost:8000/ws/some_urlUSD/');

    socket2.onmessage = function (event) {
        var data = JSON.parse(event.data);
        console.log(data);
        document.querySelector('#usd').innerText = data.message;
    }
</script>
</body>
</html>