html {
  display: block;
  background-color: lightcyan;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  border: 5px solid black;
}

.head_content{
  display:flex ;
  justify-content: space-between;
}

.main-logo {
  display: flex;
  width: auto;
  height: 100px;
}

.login {
  display: flex;
  border: 3px solid bisque;
  padding: 10px;
}

