{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css"
	      href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" type="text/css"
	      href="{% static 'css/styles.css' %}">
	<title>{% block title %}Главная страница{% endblock %}</title>
</head>
<body>
{% block header %}
	<div class="container">
		<header>
			<div class="date">
				{% now "Y/m/d" %}
			</div>
			<div class="head_content">
				<a href="{% url 'Home' %}">
					<div class="main-logo">
						<img src="{% static 'img/logo/kenny.png' %}"
						     alt="kenny">
					</div>
				</a>
				{% if user.is_authenticated %}
					<p>Welcome {{ user.username }} !!!</p>

					<a href="{% url 'logout' %}">
						<button type="submit"
						        value="logout">LOGOUT
						</button>
					</a>
				{% else %}
					<p>Welcome {{ user }} !!!</p>

					<a href="{% url 'login' %}">
						<button type="submit"
						        value="login">LOGIN
						</button>
					</a>
				{% endif %}

			</div>
		</header>
	</div>
{% endblock header %}
{% block content %}{% endblock content %}
{% block footer %}
	<footer>
		<div class="div">ФУТЕР</div>
	</footer>
{% endblock footer %}
</body>
</html>